org: weatherpipeline
app: weather-app
service: serverless-weather-pipeline
frameworkVersion: "4"

provider:
  name: aws
  runtime: python3.12
  region: eu-central-1
  lambdaHashingVersion: 20201221
  environment:
    API_URL: ${param:openweathermap-api-url}
    SECRET_NAME_API: ${param:secret-name-api}
    RAW_BUCKET_NAME: ${param:raw-bucket-name}

functions:
  fetchWeather:
    handler: src/app/lambdas/fetcher/handler.handler

package:
  individually: true
  exclude:
    - .venv/**
    - venv/**
    - env/**
    - alembic/**
    - .alembic/**
    - .terraform/**
    - terraform/**
    - node_modules/**
    - tests/**
    - __pycache__/**
    - .pytest_cache/**
    - .mypy_cache/**
    - .tox/**
    - .nox/**
    - .DS_Store
    - .idea/**
    - .vscode/**
    - .serverless/**
    - dist/**
    - build/**
    - tmp/**
    - .env
    - .env.*
    - README.md
    - Pipfile*
    - poetry.lock
    - package*.json
